• Variables
• Data types
• Operands and expressions
• Accepting user input and eval function
• Strings manipulation
• Conditional statements
• Looping statements

In [8]:
y=45
print(type(y))

<class 'int'>

In [5]:
print(y)

45

In [9]:
x = 5.6985
print(type(x))

<class 'float'>

In [11]:
r = 'Ranjith'
print(type(r))

<class 'str'>

In [12]:
y = True
type(y)

bool

# String, List, Tuples, Dictionary, Sets

In [21]:
str = "Siyan is from Kerala"
# Recommendded Starts with 0, 1, 2, ...
# Extreme end starts with -1
# Comment -->
str[0:10:2]
# str [Starting position : < Position : Default is 1 ]

'Syni '

In [23]:
str[::-1]

'alareK morf si nayiS'

In [30]:
# Tab
# Shift + Tab
str1 = str.find('K')
str1

14

In [54]:
l1 = [12,5.678,'Ranjith',True,'er']
len(l1)

5

In [40]:
l1[4]

'er'

In [50]:
# Append & Extend
l1.append([568,45])
l1

[12, 5.678, 'Ranjith', True, 'er', [568, 45]]

In [51]:
len(l1)

6

In [53]:
l1[5]

[568, 45]

In [55]:
l1.extend([56,34])
l1

[12, 5.678, 'Ranjith', True, 'er', 56, 34]

In [56]:
l1[5]

56

In [57]:
l1 = [1,2,3,4]
l2 = [4,5,6,7]
l1+l2

[1, 2, 3, 4, 4, 5, 6, 7]

In [60]:
tup = (1,2,3,4,5)
tup

# List is Mutable & Tuple is Immutable
# List if slow & Tuple is fast

(1, 2, 3, 4, 5)

In [62]:
tup[0]+tup[1]

3

In [75]:
s1 = set([1,2.001,3.4,44,6])
s2 = set([1,2,5,41,6])
s3 = s1.intersection(s2)
s3 = s1.difference(s2) # s1 - s2 
s3 = s1.union(s2) # s1 + s2
print(s3)

{1, 2.001, 3.4, 2, 5, 6, 41, 44}

In [77]:
type(s1)

set

In [93]:
# Dictionary
# Key + Value

In [91]:
dict = {'key1':'Value1','key2':'Value2'}
dict["key1"]

'Value1'

In [92]:
dict.items()

dict_items([('key1', 'Value1'), ('key2', 'Value2')])

In [97]:
val = input("Enter a value")
print(val)

Enter a value si

si

#### Conditional Statement

In [2]:
# PEP
# Indentation
# Nested Condition
x = 69
y = 10
if x == 67 and y < 15:
    print("x is 67")
elif x>65 and y >15:
    print("Execute this part")
else:
    print("x is not 67")
    print("x is not 67")
    print("x is not 67")
    print("x is not 67")

x is not 67
x is not 67
x is not 67
x is not 67

In [7]:
# Even or Odd
x = 55
# Modulus
y = x % 2
y

1

In [ ]:
# Single equal to is to assign a variable
# Double equal to is to check 2 values

In [9]:
x = 54

if x % 2 == 1:
    print("Its an Odd Number")
else:
    print("This is an Even Number")

This is an Even Number

In [ ]:
x = int(input("Enter a no"))
if x % 2 == 1:
    print("Its an Odd Number")
else:
    print("This is an Even Number")

In [18]:
# AND / OR

x = 54 
y = 99

if x % 2 == 1 and y % 2 == 1:
    print("Both are Odd Number")
elif x % 2 == 0 and y % 2 == 0:
    print("Both are Even Number")
else:
    print("they are mixed")

they are mixed

#### Loops

In [39]:
# For Loop (No of Iterations)
# While (Based on a condition)

for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
range(10)

In [34]:
# Infinite Loop
i=0
while(i<=6):
    print(i)
    #i=i+1

0
1
2
3
4
5
6

In [43]:
i=0
while(i<6):
    print(i)
    i=i+1
    #i+=1

0
1
2
3
4
5

In [ ]:
# Continue / Break

In [45]:
i=1
while (i <6):
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [46]:
i=0
while (i<6):
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [48]:
l1 = ['Vijay','Rajni','Kamal','NTR','Charan']
len(l1)

5

In [52]:
for i in l1:
    print(i)

Vijay
Rajni
Kamal
NTR
Charan

In [57]:
for i in range(len(l1)):
    print(l1[i])
    if l1[i]=='Kamal':
        break

Vijay
Rajni
Kamal

In [67]:
l1 = ['Vijay','Rajni','Kamal','NTR','Charan']
l2 = [56,54,21]

for i in l1:
    for j in l2:
        print("INSIDE J LOOP")
    print("Inside i loop")

INSIDE J LOOP
INSIDE J LOOP
INSIDE J LOOP
Inside i loop
INSIDE J LOOP
INSIDE J LOOP
INSIDE J LOOP
Inside i loop
INSIDE J LOOP
INSIDE J LOOP
INSIDE J LOOP
Inside i loop
INSIDE J LOOP
INSIDE J LOOP
INSIDE J LOOP
Inside i loop
INSIDE J LOOP
INSIDE J LOOP
INSIDE J LOOP
Inside i loop

### Coding

In [7]:
l1 = [5,6,8,4,5,7]
#l2 = []
sum = 0
for i in range(len(l1)):
    sum = sum + l1[i]
    print(i,"th position:",sum)
    #l2.append(sum)

sum

0 th position: 5
1 th position: 11
2 th position: 19
3 th position: 23
4 th position: 28
5 th position: 35

35

In [ ]:
1 2 3 4 5

In [17]:
for i in range(6):
    print(i*'#')
    print('')

#

##

###

####

#####