- DataFrames
- Indexing
- Merging
- Data manipulations
- Joins
- Cleaning

In [7]:
import pandas as pd
df = pd.read_excel(r"C:\Users\User\Python\IIITB\Central Limit Theorem\nba_ht_wt.xlsx",engine="openpyxl")
df.head()

            Player Pos  Height  Weight  Age      School      BDate
0   Vitor Faverani   C      83     260   25         NaN 1988-05-05
1    Avery Bradley   G      74     180   22       Texas 1990-11-26
2     Keith Bogans   G      77     215   33    Kentucky 1980-05-12
3  Jared Sullinger   F      81     260   21  Ohio State 1992-03-04
4       Jeff Green   F      81     235   27  Georgetown 1986-08-28

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  505 non-null    object
 1   Pos     505 non-null    object
 2   Height  505 non-null    int64
 3   Weight  505 non-null    int64
 4   Age     505 non-null    int64
 5   School  430 non-null    object
 6   BDate   505 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 27.7+ KB

In [10]:
df.shape
# None
# Null
# Nan
# nan

(505, 7)

In [12]:
df.isnull().sum()

Player     0
Pos        0
Height     0
Weight     0
Age        0
School    75
BDate      0
dtype: int64

In [16]:
df.columns

Index(['Player', 'Pos', 'Height', 'Weight', 'Age', 'School', 'BDate'], dtype='object')

In [24]:
df[['Pos','Player']].head()

  Pos           Player
0   C   Vitor Faverani
1   G    Avery Bradley
2   G     Keith Bogans
3   F  Jared Sullinger
4   F       Jeff Green

 - dataframe.loc[] - label names of rows/cols - can be used when we dont know the exact location 
 - dataframe.iloc[] - index - position of rows/cols - will be used when we know the exact location

In [34]:
df.loc[0:5]

            Player Pos  Height  Weight  Age      School      BDate
0   Vitor Faverani   C      83     260   25         NaN 1988-05-05
1    Avery Bradley   G      74     180   22       Texas 1990-11-26
2     Keith Bogans   G      77     215   33    Kentucky 1980-05-12
3  Jared Sullinger   F      81     260   21  Ohio State 1992-03-04
4       Jeff Green   F      81     235   27  Georgetown 1986-08-28
5      Rajon Rondo   G      73     171   27    Kentucky 1986-02-22

In [47]:
dict = {'name':['a','b','c'],'age':[4,6,7]}
df1 = pd.DataFrame(dict,index=['a1','a2','a3'])
df1

   name  age
a1    a    4
a2    b    6
a3    c    7

In [48]:
df1.loc['a2']

name    b
age     6
Name: a2, dtype: object

In [50]:
df1.loc[0]

KeyError: 0

In [49]:
df.head()

            Player Pos  Height  Weight  Age      School      BDate
0   Vitor Faverani   C      83     260   25         NaN 1988-05-05
1    Avery Bradley   G      74     180   22       Texas 1990-11-26
2     Keith Bogans   G      77     215   33    Kentucky 1980-05-12
3  Jared Sullinger   F      81     260   21  Ohio State 1992-03-04
4       Jeff Green   F      81     235   27  Georgetown 1986-08-28

In [44]:
df.iloc[2:3,5:6]

     School
2  Kentucky

In [56]:
df.iloc[504]

Player          James Johnson
Pos                         F
Height                     81
Weight                    248
Age                        26
School            Wake Forest
BDate     1987-02-20 00:00:00
Name: 504, dtype: object

In [64]:
type(df['BDate'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [82]:
from datetime import datetime
dt = datetime.today()
dt

datetime.datetime(2024, 5, 2, 9, 16, 57, 643745)

In [75]:
dt1 = "2024-05-02"
print(pd.to_datetime(dt1))

2024-05-02 00:00:00

In [78]:
df[['BDate']]

         BDate
0   1988-05-05
1   1990-11-26
2   1980-05-12
3   1992-03-04
4   1986-08-28
..         ...
500 1986-09-09
501 1986-07-21
502 1983-06-11
503 1988-10-31
504 1987-02-20

[505 rows x 1 columns]

In [83]:
df

               Player Pos  Height  Weight  Age       School      BDate
0      Vitor Faverani   C      83     260   25          NaN 1988-05-05
1       Avery Bradley   G      74     180   22        Texas 1990-11-26
2        Keith Bogans   G      77     215   33     Kentucky 1980-05-12
3     Jared Sullinger   F      81     260   21   Ohio State 1992-03-04
4          Jeff Green   F      81     235   27   Georgetown 1986-08-28
..                ...  ..     ...     ...  ...          ...        ...
500  Luc Mbah a Moute   F      80     230   27         UCLA 1986-09-09
501    Jason Thompson   F      83     250   27        Rider 1986-07-21
502       Chuck Hayes   F      78     238   30     Kentucky 1983-06-11
503      Cole Aldrich   C      83     245   24       Kansas 1988-10-31
504     James Johnson   F      81     248   26  Wake Forest 1987-02-20

[505 rows x 7 columns]

In [90]:
df[df['Weight']>280]

             Player Pos  Height  Weight  Age      School      BDate
112    Andrew Bynum   C      84     285   25         NaN 1987-10-27
209       Greg Oden   C      84     285   25  Ohio State 1988-01-22
223      Glen Davis   F      81     289   27         LSU 1986-01-01
364  Nikola Pekovic   C      83     290   27         NaN 1986-01-03

In [88]:
df.loc[df.Weight>280]

             Player Pos  Height  Weight  Age      School      BDate
112    Andrew Bynum   C      84     285   25         NaN 1987-10-27
209       Greg Oden   C      84     285   25  Ohio State 1988-01-22
223      Glen Davis   F      81     289   27         LSU 1986-01-01
364  Nikola Pekovic   C      83     290   27         NaN 1986-01-03

In [91]:
df['Weight']

0      260
1      180
2      215
3      260
4      235
      ...
500    230
501    250
502    238
503    245
504    248
Name: Weight, Length: 505, dtype: int64

In [127]:
# & - and - both shjould be true
# | - or - either should work
df2 = df[(df['Weight']>280) | (df['Age']==27)]
df2.shape

(50, 7)

In [108]:
df['Height'].mean()

79.06534653465347

In [112]:
df3 = df[df['Height']>df['Height'].mean()]
df3

               Player Pos  Height  Weight  Age          School      BDate
0      Vitor Faverani   C      83     260   25             NaN 1988-05-05
3     Jared Sullinger   F      81     260   21      Ohio State 1992-03-04
4          Jeff Green   F      81     235   27      Georgetown 1986-08-28
10       Brandon Bass   F      80     250   28             LSU 1985-04-30
11     Colton Iverson   C      84     255   24  Colorado State 1989-06-29
..                ...  ..     ...     ...  ...             ...        ...
499     Travis Outlaw   F      81     207   29             NaN 1984-09-18
500  Luc Mbah a Moute   F      80     230   27            UCLA 1986-09-09
501    Jason Thompson   F      83     250   27           Rider 1986-07-21
503      Cole Aldrich   C      83     245   24          Kansas 1988-10-31
504     James Johnson   F      81     248   26     Wake Forest 1987-02-20

[253 rows x 7 columns]

In [122]:
df[df['Age']==df['Age'].min()]

             Player Pos  Height  Weight  Age             School      BDate
211  Jarvis Varnado   F      81     230   15  Mississippi State 1998-03-01

In [123]:
df[df['Age']==df['Age'].max()]

           Player Pos  Height  Weight  Age    School      BDate
204  Juwan Howard   F      81     250   40  Michigan 1973-02-07

- case study
- explore dates
- joins / merging
- lambda function

In [128]:
df.head()

            Player Pos  Height  Weight  Age      School      BDate
0   Vitor Faverani   C      83     260   25         NaN 1988-05-05
1    Avery Bradley   G      74     180   22       Texas 1990-11-26
2     Keith Bogans   G      77     215   33    Kentucky 1980-05-12
3  Jared Sullinger   F      81     260   21  Ohio State 1992-03-04
4       Jeff Green   F      81     235   27  Georgetown 1986-08-28

In [129]:
df['Weight'].mean()

220.67326732673268

In [130]:
df['Flag'] = df['Weight'].apply(lambda x: "Underweight" if x < 220 else "OverWeight")
df.head()

,Player,Pos,Height,Weight,Age,School,BDate,Flag
0,Vitor Faverani,C,83,260,25,NaN,1988-05-05,OverWeight
1,Avery Bradley,G,74,180,22,Texas,1990-11-26,Underweight
2,Keith Bogans,G,77,215,33,Kentucky,1980-05-12,Underweight
3,Jared Sullinger,F,81,260,21,Ohio State,1992-03-04,OverWeight
4,Jeff Green,F,81,235,27,Georgetown,1986-08-28,OverWeight