In [ ]:
# Python Module / Library / Package
# Set of Instructions to perform a certain task as per asked by the user
# File Import & Export - PANDAS - a powerful data analysis and manipulation library for Python
# Mathematical Operation - NUMPY - numerical python, percentile, quantile, mean, mode, quadratic, matrix, array
# Scientific Operation - SCIPY - ztest, ttest, sampling, probabbility
# Machine Learning - SKLEARN / SCIKIT-LEARN - ml algorithms, regressions, feature transformation, model evaluation
# Visualization - MATPLOTLIB - is more granular & detailed - line chart, bar chart,
# Visualization - SEABORN - is more organizaed and user friendly - pie chart, donut chart
# Convertion of ML models - Pickle - convert to binary

In [1]:
st = "Ranjith & Siyan"
# input()
# Shift + Tab
# Return the number of characters in a String.
len(st)

15

In [ ]:
# pip install pandas
# pip install numpy

In [5]:
import pandas as pd
import numpy as np
# alias / pet name

In [15]:
# ARRAY - stores similar data types
x = np.arange(6).reshape(2,3)
x
#print(type(x))
# We need array to create Matrix

array([[0, 1, 2],
       [3, 4, 5]])

In [12]:
# Decimals = Floating Point
l1 = [1,2,3.658,'Ranjith/Siyan',True]
l1

[1, 2, 3.658, 'Ranjith/Siyan', True]

In [25]:
import pandas as pd
df = pd.read_csv(r'C:\Users\User\Python\IIITB\Bank Dataset\bank_marketing_updated_v1.csv',skiprows=2)
df.head(5)

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

# Data Science

## Artificial Intelligence 
## AI/(FLAT)
## ML/(ROOM)
## DL/(CUBBOARD)

### Machine Learning
### - Supervised ML (Classification (Categorical) (Fraud/Non-Fraud) & Regression (Numerical) (Stock Exchange))
####      - Label & predicting a final value  
####      - Logistic Regression, Linear Regression, SVM, Decision Trees, Random Forest, etc
### - Unsupervised ML (Clustering & Segmentation)
####      - No Label & no new predictions are happening & we are grouping rows together, no new data     
####      - k-means clustering, PCA, LDA
### - Reinforcement Learning ML (Semi Supervised) (CHATGPT / OPENAI / LLM)

### DEEP LEARNING
 - Neural Network
 - Graphical Processing Unit

In [27]:
def add(a,b):
    return a+b


add(6,7)

13

In [ ]:
Banking Customer - Loyalty Programs

In [1]:
pwd
# something.ipynb

'C:\\Users\\User\\Python\\Training'